<div class="jumbotron jumbotron-fluid">
  <div class="container">


    <h1 class="display-4">Innovation Portal</h1>
    <p class="lead"><a href="<%= projects_path %>">Bringing Ideas, Prototypes and Companies to scale</a></p>
  </div>
</div>
