<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">HackPortal</h1>
    <p class="lead">A JavaScript and Rails application for realtors to manage property listings, buyers and appointments.</p>

  <a href="/auth/github">GitHub Log In</a><br><br>
<a class="nav-link" href="<%= login_path %>">Log In</a><br><br>
<a class="nav-link" href="<%= signup_path %>">Sign Up</a>


  </div>
</div>
