<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">HackPortal</h1>
    <p class="lead"><a href="<%= projects_path %>">Description Here</a></p>
  </div>
</div>
